<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">



    {% module Template("header.html") %}

	<body style="opacity:0;background-color:#1E8E9A;">

		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=124827260907526&autoLogAppEvents=1">
		</script>
		
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="index.html"><img src="img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Be Inspired In The Benton Harbor Arts District</h1>
							<a href="index.html#events" class="use-btn animated fadeInUp">Explore</a> 
						</div>
					</div>
				</div>
			</section>
			</section>
		<section class="features-list" id="exploreevents">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="feature-content">
								<h1>Art Hops</h1>
								<a href="#arthop" class="read-more-btn">See More<i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-music"></i>
							</div>
							<div class="feature-content">
								<h1>Concerts & Music</h1>
								<a href="#music" class="read-more-btn">See More<i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-calendar"></i>
							</div>
							<div class="feature-content">
								<h1>Arts in the Park</h1>
								<a href="#artoberfest" class="read-more-btn">See More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		</header>



		<section class="innerpage" id="arthop">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Art Hops</h1>
						<p><img src="img/arthop2.jpg" alt="Art Hop" 
							style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;"
							>
						<p>Location: <a href="https://goo.gl/maps/LMA5F2trgHM2" target="_blank">Arts District</a><br>
							Admission: FREE</b></p>
						<p>Quarterly, the businesses in the Benton Harbor Arts District choose a Friday to host an Art Hop. It’s a family-friendly evening filled with an entertaining mix of art, music, dance, theater, culinary arts and more. 
                                                <br /><br /> Come check out the multiple venues along the walkable Arts District streets. Meet your neighbors, talk with business owners and see impressive art. These popular events truly connect people with BHAA’s belief that “Art Builds Community.” </p>
						
						<p class="hide"><b>Upcoming Art Hops</b><br>
						
						Spring Art Hop: March 15, 2019<br>
						Summer Art Hop: June 15, 2018<br>
						Fall Art Hop: October 12, 2018<br>
						Holiday Art Hop: December 7, 2018<br>
						
						</p>
					</div>
				</div>
			</div>
			</section>

			<section class="innerpage hide" id="market">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Harbor Market</h1>
						<p>Location: <a href="https://goo.gl/maps/8YPt9sHnLY92" target="_blank"> Dwight Pete Mitchell City Center Park</a></b></p>
						<p>Harbor Market is an all local Farmer, Artisan and Vendor Market for the community of Benton Harbor, Michigan.</p>
					</div>
				</div>
			</div>
			</section>

			<section class="innerpage" id="music">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Concerts & Music</h1>
						<p><h2>Open Stage</h2></p>
						<p><img src="img/openstage1.jpg" alt="Open Stage" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
							Location: <a href="http://liverybrew.com/" target="_blank"> The Livery</b></a></p>
						<p>There’s so much talent in our area. On the first Monday of the month the BHAA showcases rising stars and regional favorites on this popular craft brewer’s stage with live performances by local musicians, poets and storytellers. It’s a chance for these gifted individuals to perform before an appreciative audience and draw inspiration from each other. A rotation of special hosts keep each show’s content rich, varied and lively. Paired with The Livery’s professional sound and lighting system, Open Stage is one of the best free, monthly events in the area! </p>


					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="artoberfest">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Arts in the Park</h1>
						<p><img src="img/artoberfest1.jpg" alt="Artoberfest" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">

							Location: <a href="https://goo.gl/maps/yXp7T8FKKWp" target="_blank">The Arts District</a></p>
						<p>
                        Join the Benton Harbor Arts Association as we celebrate our community by featuring local artist’s booths, music, food trucks, and more every other Friday from 6-9pm, June 4 - September 10, in the heart of The Benton Harbor Arts District.
                        </p>

                        <p>For details on featured artists and musicians, check out our <a href="https://www.facebook.com/bentonharborarts">Facebook Page</a>!
					</div>
				</div>
			</div>
			</section>

        {% module Template("footer.html") %}


	</body>
</html>
