<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71032623-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-71032623-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Benton Harbor Arts Association</title>
		<meta name="description" content="A free HTML5/CSS3 template made exclusively for Codrops" />
		<meta name="keywords" content="html5 template, css3, one page, animations, agency, portfolio, web design" />
		<meta name="author" content="" />
		<!-- Bootstrap -->
		<script src="js/modernizr.custom.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/jquery.fancybox.css" rel="stylesheet">
		<link href="css/flickity.css" rel="stylesheet" >
		<link href="css/animate.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" rel="stylesheet">
		<link href="css/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=124827260907526&autoLogAppEvents=1">
		</script>
		
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="index.html"><img src="img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Be Inspired In The Benton Harbor Arts District</h1>
							<a href="index.html#events" class="use-btn animated fadeInUp">Explore</a> 
						</div>
					</div>
				</div>
			</section>
			</section>
		<section class="features-list" id="exploreevents">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="feature-content">
								<h1>Art Hops</h1>
								<a href="#arthop" class="read-more-btn">See More<i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-music"></i>
							</div>
							<div class="feature-content">
								<h1>Concerts & Music</h1>
								<a href="#music" class="read-more-btn">See More<i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-calendar"></i>
							</div>
							<div class="feature-content">
								<h1>Artoberfest</h1>
								<a href="#artoberfest" class="read-more-btn">See More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		</header>



		<section class="innerpage" id="arthop">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Art Hops</h1>
						<p><img src="img/arthop2.jpg" alt="Art Hop" 
							style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;"
							>
						<p>Location: <a href="https://goo.gl/maps/LMA5F2trgHM2" target="_blank">Arts District</a><br>
							Admission: FREE</b></p>
						<p>Quarterly, the businesses in the Benton Harbor Arts District choose a Friday to host an Art Hop. It’s a family-friendly evening filled with an entertaining mix of art, music, dance, theater, culinary arts and more. 
                                                <br /><br /> Come check out the multiple venues along the walkable Arts District streets. Meet your neighbors, talk with business owners and see impressive art. These popular events truly connect people with BHAA’s belief that “Art Builds Community.” </p>
						
						<p class="hide"><b>Upcoming Art Hops</b><br>
						
						Spring Art Hop: March 15, 2019<br>
						Summer Art Hop: June 15, 2018<br>
						Fall Art Hop: October 12, 2018<br>
						Holiday Art Hop: December 7, 2018<br>
						
						</p>
					</div>
				</div>
			</div>
			</section>

			<section class="innerpage hide" id="market">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Harbor Market</h1>
						<p>Location: <a href="https://goo.gl/maps/8YPt9sHnLY92" target="_blank"> Dwight Pete Mitchell City Center Park</a></b></p>
						<p>Harbor Market is an all local Farmer, Artisan and Vendor Market for the community of Benton Harbor, Michigan.</p>
					</div>
				</div>
			</div>
			</section>

			<section class="innerpage" id="music">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Concerts & Music</h1>
						<p><h2>Open Stage</h2></p>
						<p><img src="img/openstage1.jpg" alt="Open Stage" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
							Location: <a href="http://liverybrew.com/" target="_blank"> The Livery</b></a></p>
						<p>There’s so much talent in our area. On the first Monday of the month the BHAA showcases rising stars and regional favorites on this popular craft brewer’s stage with live performances by local musicians, poets and storytellers. It’s a chance for these gifted individuals to perform before an appreciative audience and draw inspiration from each other. A rotation of special hosts keep each show’s content rich, varied and lively. Paired with The Livery’s professional sound and lighting system, Open Stage is one of the best free, monthly events in the area! </p>


					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="artoberfest">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Artoberfest</h1>
						<p><img src="img/artoberfest1.jpg" alt="Artoberfest" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">

							Location: <a href="https://goo.gl/maps/yXp7T8FKKWp" target="_blank">Corner of 5th and Park Streets</a></p>
						<p>ARTOBERFEST is a fun family-friendly festival!  It's a mix of art, music, food, wine and beer sponsored by the BHAA and held every September outdoors in the Benton Harbor Arts District, rain or shine.  ARTOBERFEST is a wonderful and diverse event that grows in popularity every year.</p>
					</div>
				</div>
			</div>
			</section>

        {% module Template("footer.html") %}


	</body>
</html>
