<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71032623-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-71032623-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New Territory Arts Association</title>
		<meta name="description" content="A free HTML5/CSS3 template made exclusively for Codrops" />
		<meta name="keywords" content="html5 template, css3, one page, animations, agency, portfolio, web design" />
		<meta name="author" content="" />
		<!-- Bootstrap -->
		<script src="js/modernizr.custom.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/jquery.fancybox.css" rel="stylesheet">
		<link href="css/flickity.css" rel="stylesheet" >
		<link href="css/animate.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" rel="stylesheet">
		<link href="css/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="index.html"><img src="img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Be Inspired In The Benton Harbor Arts District</h1>
							<a href="index.html#events" class="use-btn animated fadeInUp">Explore</a>
						</div>
					</div>
				</div>
			</section>
		</header>
		</section>
		<section class="features-list" id="explorenav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-paint-brush"></i>
							</div>
							<div class="feature-content">
								<h1>Arts & Retail</h1>
								<p>The Arts District is home to a variety of unique and inspiring artists, their galleries and studios, as well as shops and boutiques. </p>
								<a href="#art" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-glass"></i>
							</div>
							<div class="feature-content">
								<h1>Food & Drink</h1>
								<p>There are many ways to delight your palate and quench your thirst in the Arts District. </p>
								<a href="#food" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-building"></i>
							</div>
							<div class="feature-content">
								<h1>Arts District Living</h1>
								<p>The only thing better than visiting the Arts District, is living here. It’s a wonderful urban setting just minutes from Lake Michigan. </p>
								<a href="#life" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<section class="innerpage" id="art">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Arts & Retail</h1>
						<p>The Arts District is home to a variety of unique and inspiring artists, their galleries and studios, as well as shops and boutiques. </p>
						<p><img src="img/wsg1.jpg" alt="GlassWorks" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
						<a href="http://3pillarsmusic.com/" target="_blank">3 Pillars Music<br></a>
						<a href="https://goo.gl/maps/23LBSU5RpDD2" target="_blank">210 Water Street<br></a>
						<a href="http://arsartsandculture.org/gallery/about.html" target="_blank">ARS Gallery & Culture Center<br></a>
						<a href="https://www.avelinegallery.com/" target="_blank">Aveline Gallery<br></a>
						<a href="http://citadeldmc.org/" target="_blank">Citadel Dance & Music Center<br></a>
						<a href="http://www.rebelco-op.com/" target="_blank">The Collective<br></a>
						<a href="http://www.dwellerscoworking.com/" target="_blank">Dwellers Co-Working<br></a>
						<a href="http://www.mortonhousemuseum.org/" target="_blank">Morton House Museum<br></a>
						<a href="http://mosaicresalebh.com/" target="_blank">Mosaic Resale<br></a>
						<a href="http://www.citadeloakroom.com/" target="_blank">The Oak Room at the Citadel<br></a>
						<a href="http://richardhuntstudio.com/?page_id=20" target="_blank">Richard Hunt Studio Center<br></a>
						<a href="https://goo.gl/maps/kBfsMmYjTmP2" target="_blank">Top Hat Antiques<br></a>
						<a href="http://waterstreetglassworks.org/wsgw/" target="_blank">Water Street Glassworks</a>
                        <a href="http://www.pipestoneindoor.com/" target="_blank">Pipestone Indoor Country Club</a>
                        </p>
					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="food">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Food & Drink</h1>
						<p>There are many ways to delight your palate and quench your thirst in the Arts District. </p>
						<p><img src="img/livery2.jpg" alt="Food" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
						<a href="https://goo.gl/maps/kH2g8cK9LYD2" target="_blank">Chatter Box Sport Bar & Grill<br></a>
						<a href="https://www.harborshoresresort.com/the-inn/planks-tavern" target="_blank">Plank's Tavern on the River<br></a>
						<a href="http://www.larksbar-b-que.com/" target="_blank">Lark's Bar-B-Que<br></a>
						<a href="http://liverybrew.com/" target="_blank">The Livery<br></a></a>
						<a href="http://masonjar.cafe/" target="_blank">The Mason Jar Café<br></a>
						<a href="http://northpierbrewing.com/" target="_blank">North Pier Brewing Company<br></a>
						<a href="https://goo.gl/maps/6Z7KfRrfbT72" target="_blank">North Shore Inn<br></a>
                        <a href="https://www.eathoundstooth.com/" target="_blank">Houndstooth<br></a>
                        <a href="https://www.instagram.com/werk_it_food_truck/" target="_blank">Werk It Food Truck<br></a>
					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="Community">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Community Origanizations</h1>
						<p>These organizations make our community a better place to visit and live.</p>
						<p><img src="img/outcenter.jpg" alt="OutCenter" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
						<a href="http://outcenter.org/" target="_blank">OutCenter<br></a>
						<a href="http://ghostlightbh.com/" target="_blank">The GhostLight Theater<br></a>
						<a href="http://cstonealliance.org/" target="_blank">Cornerstone Alliance<br></a>
						<a href="http://www.thefirstteebentonharbor.org/" target="_blank">First Tee of Benton Harbor<br></a>
						<a href="http://newterritoryarts.org/">New Territory Arts Association<br></a>

					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="Parks">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Parks</h1>
						<p><img src="img/artspark.jpg" alt="Arts Park" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
						<a href="https://goo.gl/maps/GRw2bxzpkvD2" target="_blank">Arts Park<br></a>
						<a href="https://goo.gl/maps/MqfrFZAhwsu" target="_blank">Dwight Pete Mitchell City Center Park<br></a>
						<a href="https://www.proj-resiliency.org/" target="_blank">9/11 Resiliency Plaza<br></a>
						<a href="https://goo.gl/maps/v6qaazjrcNQ2" target="_blank">Thayer Park<br></a>
					</div>
				</div>
			</div>
			</section>
			<section class="innerpage" id="life">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Arts District Life</h1>
						<p>The only thing better than visiting the Arts District, is living here. It’s a wonderful urban setting just minutes from Lake Michigan.</p>
						<p><img src="img/ArtsDistrictLiving.jpg" alt="Arts District Living" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">
						Candy Company Lofts<br>
						Hinkley Lofts<br>
						Lofts at 210 Water<br>
						<a href="https://thevincentplace.com/" target="_blank">Lofts at The Vincent Place</a><br>
						Motor Building Apartments<br>
						<a href="http://www.quarternotelofts.com/" target="_blank">The Quarternote Lofts</a><br>
						<a href="http://theprairiegroup.com/select-buildings/376-w-main-st-saranac-flats" target="_blank">Saranac Flats</a><br>
						Sun Building Lofts<br>
						Water Street Lofts<br>
						WS Block Apartments<br>
						</p>
					</div>
				</div>
			</div>
			</section>

    {% module Template("volunteer.html") %}

    {% module Template("footer.html") %}



	</body>
</html>
