
{% module Template("volunteer.html") %}

<footer>
    <div class="container">
<div class="row">
    <div class="col-md-5">
        <h1 class="footer-logo">
        <img src="img/logo-black.png" alt="Benton Harbor Arts Association">
        </h1>
        <p> ©2021 Benton Harbor Arts Association</a></p>
    </div>
    <div class="col-md-7">
        <ul class="footer-nav">
            <li><a href="/events.html#exploreevents">Events</a></li>
            <li><a href="/explore.html#explorenav">Places</a></li>
            <li><a href="/contact.html#contact">Location</a></li>
            <li><a href="/contact.html#contact">Contact</a></li>
        </ul>
    </div>
</div>
    </div>
</footer>

<div class="overlay overlay-boxify">
    <nav>
        <ul>
            <li><a href="/events.html#exploreevents"><i class="fa fa-glass"></i>Events</a></li>
            <li><a href="/explore.html#explorenav"><i class="fa fa-building"></i>Places</a></li>
        </ul>
        <ul>
            <li><a href="index.html#photos"><i class="fa fa-camera-retro"></i>Photos</a></li>
            <li><a href="/contact.html#contact"><i class="fa fa-user"></i>Contact</a></li>
        </ul>
    </nav>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/min/toucheffects-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/flickity.pkgd.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="js/retina.js"></script>-->
<script src="js/waypoints.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/min/scripts-min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
