<form class="form-horizontal">

    <div class="form-group">
        <label for="contact" class="col-sm-3 control-label">Contact Person</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="contact" placeholder="Contact Person">
        </div>
    </div>

    <div class="form-group">
        <label for="organization" class="col-sm-3 control-label">Organization</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="organization" placeholder="Your Organization">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
    </div>

    <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Telephone</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" id="email" placeholder="Telephone Number">
        </div>
    </div>

    <div class="form-group">
        <label for="projname" class="col-sm-3 control-label">Project Name</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" id="projname" placeholder="Project Name">
        </div>
    </div>

    <div class="form-group">
        <label for="amount" class="col-sm-3 control-label">Amount Requested</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" id="amount" placeholder="Amount Requested">
        </div>
    </div>

    <div class="row">
    <p class="col-sm-push-3 col-sm-6">The BHAA has certain criteria your project must meet to be considered for funding.  By checking the following boxes, you state that you understand and pledge the following to be true about your project:</p>
    </div>


    <div class="checkbox row">
        <label class="col-sm-push-3 col-sm-6">
            <input type="checkbox" />
            The project will be completed within 12 months from the award date.
        </label>
    </div>

    <div class="checkbox row">
        <label class="col-sm-push-3 col-sm-6">
            <input type="checkbox" />
                If awarded funding I will submit a written summary describing the finished project, along
with a detailed final expense report, within two weeks following the project’s completion.
        </label>
    </div>

    <div class="checkbox row">
        <label class="col-sm-push-3 col-sm-6">
            <input type="checkbox" />
                The BHAA has permission to use pictures and other information as applicable about the project, on the BHAA's website, social media, and other promotional materials. 
        </label>
    </div>

    <div class="checkbox row">
        <label class="col-sm-push-3 col-sm-6">
            <input type="checkbox" />
                The Project furthers BHAA’s mission to create a vital Benton Harbor Arts District through community outreach and advocacy of the arts.
        </label>
    </div>


    <div class="row">
    <p class="col-sm-push-3 col-sm-6">To help us understand your application, give us a bit more information.  The impact of your project on the Benton
Harbor Arts District will be a strong consideration in your application!
    </p>
    </div>

    <div class="form-group">
        <label for="overview" class="control-label col-sm-3">Give us a brief overview of your project.</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="overview" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="mission" class="control-label col-sm-3">How will your project further the BHAA's mission?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="mission" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="bar" class="control-label col-sm-3">How does your project raise the bar beyond current programs or projects that focus on a
similar topic/goal?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="bar" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="funding" class="control-label col-sm-3">What will you be able to accomplish with this funding?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="funding" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="roles" class="control-label col-sm-3">Who else will be involved with this project, and what are their roles?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="roles" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="timeline" class="control-label col-sm-3">How far along is this project, and what is your estimated timeline for completion?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="timeline" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="sponsors" class="control-label col-sm-3">Do you have any other sponsors or grants?  What will they contribute?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="sponsors" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="marketing" class="control-label col-sm-3">How will you spread word about your project?</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="marketing" rows="4"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="budget" class="control-label col-sm-3">Finally, give us a cost breakdown and estimated budget for your project.</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="budget" rows="4"> </textarea>
        </div>
    </div>
    


</form>
