<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71032623-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-71032623-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Benton Harbor Arts Association</title>
		<meta name="author" content="" />
		<!-- Bootstrap -->
		<script src="js/modernizr.custom.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/jquery.fancybox.css" rel="stylesheet">
		<link href="css/flickity.css" rel="stylesheet" >
		<link href="css/animate.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" rel="stylesheet">
		<link href="css/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="index.html"><img src="img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Be Inspired In The Benton Harbor Arts District</h1>
                                                        <!--
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="4U4TRHAQUV8SQ">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"  alt="PayPal - The safer, easier way to pay online!" >
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							-->

						</div>
					</div>
				</div>
			</section>
		</header>
		<section class="video" id="events">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1><a href="https://goo.gl/maps/mAY7jbETMjT2" target="_blank"><i class="fa fa-map-marker"></i>Location</a></h1>
						<p>Find your inspiration every day in downtown Benton Harbor, Michigan.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="features-intro">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
							<!--<div class="features-img wp1">
								<img src="img/html5-logo.png" alt="HTML5 Logo">
							</div>-->
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
								<ul class="slides" id="featuresSlider">
									<li>
										<h1>Art Hops</h1>
										<p>Quarterly, the businesses in the Benton Harbor Arts District choose a Friday to host an Art Hop. It’s a family-friendly evening filled with an entertaining mix of art, music, dance, theater, culinary arts and more. Come check out the multiple venues along the walkable Arts District streets. Meet your neighbors, talk with business owners and see impressive art. These popular events truly connect people with BHAA’s belief that “Art Builds Community.”</p>
										<p><a href="/events.html#arthop" class="arrow-btn">Upcoming Art Hops <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
									<li>
										<h1>Concerts & Music</h1>
										<p>Monthly Open Stage performances at The Livery and an Artoberfest celebration in the fall bring an array of musical genres to the Benton Harbor Arts District. These local and nationally acclaimed artists will inspire you with their passion for music.</p>
										<p><a href="/events.html#music" class="arrow-btn">Upcoming Events <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
								
								</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="features-list" id="locations">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-paint-brush"></i>
							</div>
							<div class="feature-content">
								<h1>Arts & Retail</h1>
								<p>The Arts District is home to a variety of unique and inspiring artists, their galleries and studios, as well as shops and boutiques. </p>
								<a href="/explore.html#art" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-glass"></i>
							</div>
							<div class="feature-content">
								<h1>Food & Drink</h1>
								<p>There are many ways to delight your palate and quench your thirst in the Arts District.  </p>
								<a href="/explore.html#food" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-building"></i>
							</div>
							<div class="feature-content">
								<h1>Arts District Living</h1>
								<p>The only thing better than visiting the Arts District, is living here. It’s a wonderful urban setting just minutes from Lake Michigan. </p>
								<a href="/explore.html#life" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<section class="showcase">
			<div class="showcase-wrap">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="device wp3">
								<div class="device-content">
									<div class="showcase-slider">
										<ul class="slides" id="showcaseSlider">
											<li>
												<img src="img/screen1.jpg" alt="Device Content Image">
											</li>
											<li>
												<img src="img/screen2.jpg" alt="Device Content Image">
											</li>
											<li>
												<img src="img/screen3.jpg" alt="Device Content Image">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h1>Like The BHAA on Facebook</h1>
							<p>
							“Like” the Benton Harbor Arts Association on Facebook. Get updates about events at Arts District businesses, view photos and see what others are saying about the inspiring changes that are happening in Benton Harbor, Mich. We look forward to you joining our conversations!  </p>
							<blockquote class="team-quote">
								<div class="avatar"><img src="img/avatar.png" alt="User Avatar"></div>
								<p>"I love the Arts District! Inspiring art and great food, beer, coffee and entertainment!" - Joshua Nowicki</p>
								<div class="logo-quote">
							
								</div>
							</blockquote>
							<a href="https://www.facebook.com/newterritoryarts" target="_blank" class="download-btn">Facebook</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="screenshots-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Mission</h1>
						<p><img src="img/ArtDistrict12.jpg" alt="Arts District" style="float:right;max-width: 100%;max-height: 100%;padding-bottom:15px;">The Benton Harbor Arts Association (BHAA) was founded in 1998 as the Benton Harbor Arts Association to create a vital Benton Harbor Arts District through community outreach and advocacy for the arts. We are a 501(c)(3) grassroots organization dedicated to the revitalization of the Benton Harbor Arts District with a firm belief that “Art Builds Community.”</p>

						<h1>Help us keep building</h1>
							<p>Donations and BHAA membership dues help us generate the funds we need to organize special and annual events that further our mission. We also provide financial assistance in the form of grants and scholarships for art education programs and events for community youth. Your gift, in any amount, will continue bringing us together to celebrate creativity and innovation. If you would like more information or to donate, please email us today.
							</p>

					</div>
				</div>
			</div>
		</section>
		<section class="screenshots" id="photos">
			<div class="container-fluid">
				<div class="row">
					<ul class="grid">
						<li>
							<figure>
								<img src="img/01-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/01.jpg" class="single_image">
									<p>Phoenix Rising - Cafe & Coffee Shop</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/02-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/02.jpg" class="single_image">
										<p>The Mason Jar Cafe is the Home of the Holt Bosse Burger</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/03-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/03.jpg" class="single_image">
									<p>Art Hop</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/04-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/04.jpg" class="single_image">
									<p>Arts Park</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
				<div class="row">
					<ul class="grid">
						<li>
							<figure>
								<img src="img/05-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/05.jpg" class="single_image">
									<p>3 Pillars Music</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/06-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/06.jpg" class="single_image">
									<p>The Livery</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/07-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/07.jpg" class="single_image">
									<p>Art Hop</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/08-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/08.jpg" class="single_image">
									<p>Gene Harris Coming Home Coming Together Concert</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/09-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/09.jpg" class="single_image">
									<p>Artoberfest</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/10-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/10.jpg" class="single_image">
									<p>Live Music at Arts Park</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						
						<li>
							<figure>
								<img src="img/11-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/11.jpg" class="single_image">
									<p>Water Street Glassworks</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/12-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/12.jpg" class="single_image">
									<p>Andrew Fisher Quartet at The Livery</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</section>

    {% module Template("footer.html") %}

	</body>
</html>
