<section class="download" id="volunteer">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center wp4">
        <h1>Volunteer with the BHAA</h1>
        <p>BHAA is a 100% volunteer-based organization. We run on borrowed time from men and women that believe change is possible through the arts. Individuals who understand that a little help goes a long way. Whether you would like to help shape our marketing efforts, work on events, collaborate with other art groups or help around the office, we would love to have you join us. Let’s get together soon to talk about your interests.
        </p>
                        <a href="/contact.html#contact" class="download-btn">Contact The BHAA <i class="fa fa-users"></i></a>
    </div>
    </div>
    </div>
</section>
